@media (max-width:700px)    {
    body    {
        background-image: -o-linear-gradient(top, #de1843 0, #db0942 50%, #d80041 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #de1843), color-stop(50%, #db0942), to(#d80041));
        background-image: linear-gradient(180deg, #de1843 0, #db0942 50%, #d80041 100%);
}
.form-style  {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
label   {
    font-size: 3rem;
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-stretch: expanded;
}
#nombre  {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    background: none;
    border: none;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;

}
.form {
    display: none;
}
#go {
    margin-top: 5%;
    width: 80%;
    height: 50px;
    font-size: 1.8rem;
    background-color: #020005;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border: 5px solid white;
}
p   {
    font-size: 3rem;
    color: white;
    text-align: center;
    height: 100%;
    font-family: 'Staatliches', cursive;
    display: block;
    margin: 40% auto;
    width: 80%;
    overflow: auto;
    
}
}
@media (min-width:600px)    {
    body    {
    background-image: -o-linear-gradient(315deg, #6700ef 0, #6700ef 50%, #6700ef 100%);
    background-image: linear-gradient(135deg, #6700ef 0, #6700ef 50%, #6700ef 100%);
}
.form-style  {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
label   {
    font-size: 5rem;
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-stretch: expanded;
}
#nombre  {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    background: none;
    border: none;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;

}
.form {
    display: none;
}
#go {
    margin-top: 5%;
    width: 50%;
    height: 50px;
    font-size: 1.8rem;
    background-color: #020005;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border: 5px solid white;
}
p   {
    font-size: 8rem;
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
    display: block;
    margin: 10% auto;
    width: 80%;
    overflow: auto;
    
}
}